@use '../../../../variables' as v;
@import '../../../../media';
.container{
  display: flex;
  flex-direction: column;
  width: 80%;
  background: white;
  padding: 30px 0px 0px 0px;
  position: fixed;
  align-items: center;
  top: 0;

width: 75%;
  .filters-container{
    display: flex;
    width: 100%;
    gap: v.$gap;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    padding-left: v.$padding-xlarge;
    padding-right: v.$padding-xlarge;
    padding-top: v.$padding-large;
    padding-bottom: v.$padding-large;
  }
  .see-all{
    width: 100%;
    justify-content: space-between;
    padding-bottom: v.$padding-xlarge;
    display: flex;
    span{
      cursor: pointer;
     color: v.$button-selected;
    }
  }
  .filters-container::-webkit-scrollbar {
      display: none;
  }
  .rightArrow{
  position: absolute; 
  right: 0;
  z-index: 4;
  }
  
  .leftArrow{
  position: absolute; 
  left: 0;
  z-index: 4;
  }

  @include respond-to('small') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    overflow-x: hidden;
    width: 100%;
    .filters-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  }
}

