.container{
  display: flex;
  padding: 30px 0 30px 0px;
  width: 80%;
  position: relative;
  align-items: center;
}
.filters-container{
  display: flex;
  width: 100%;
  gap: 10px;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filters-container::-webkit-scrollbar {
    display: none;
}
.rightArrow{
position: absolute; 
right: 0;
z-index: 4;
}

.leftArrow{
position: absolute; 
left: 0;
z-index: 4;
}

