$text-color: #262626;
$button-selected: #492E87;
$button-background: #492e871b;
$gray_color: gray;

$border: 1px solid;
$button-radius: 50px;
$button-radius-full: 100%;

$padding-small: 5px;
$padding-medium: 8px;
$padding-large: 10px;
$padding-xlarge: 40px;

$gap: 10px;
$gap-medium: 15px;

$box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.105), 0 6px 20px 0 rgba(34, 34, 34, 0.153);

$breakpoints: (
  'small': (max-width: 576px),
  'medium': (max-width: 768px),
  'large': (max-width: 992px),
  'huge': (max-width: 1400px),
);

