@import '../../../../media';

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 10rem;
@include respond-to('small') {
  display: flex;
  margin: 0;
  }
}