@use '../../../../variables' as v;
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: v.$border v.$gray_color;
  padding: v.$padding-small;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}