@use '../../../../variables' as v;

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: v.$border v.$gray_color;
  border-radius: v.$button-radius-full;
  background: white;
  text-align: center;
  width: 30px;
  height: 30px;
  color: v.$button-selected;
  cursor: pointer;
  box-shadow: v.$box-shadow;
}