.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid gray;
  border-radius: 100%;
  background: white;
  text-align: center;
  width: 30px;
  height: 30px;
  color: #492e87;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.105), 0 6px 20px 0 rgba(34, 34, 34, 0.153);
}