@use '../../../../variables' as v;
@import '../../../../media';

.list-container{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap:v.$gap-medium;
  row-gap: v.$gap-medium;
  padding-top: 200px;
  @include respond-to('small') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 160px;

  }
}