@use '../../../../variables' as v;
@import '../../../../media';

.list-container{
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  column-gap:v.$gap-medium;
  row-gap: v.$gap-medium;
  width: 80%;

  @include respond-to('small') {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}