@use '../../../../variables' as v;
.items-container{
width: 100%;
overflow-y: auto;
padding-bottom: v.$padding-large;
.item{
  display: flex;
  justify-content: space-between;
  border-bottom: v.$border v.$gray_color ;
  padding-top: v.$padding-large;
  padding-bottom: v.$padding-large;
  color: v.$gray_color;
  font-weight: bold;
  cursor: pointer;
}

.item:hover{
  box-shadow: v.$box-shadow;
}
.item:last-child{
  border-bottom: none;
}

.selected{
padding-right: v.$padding-small;
color: v.$button-selected;
}
.empty{
  padding-top: v.$padding-large;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
}