@use '../../../../variables' as v;
@import '../../../../media';

.container{
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px ;
  margin-top: 5px;
  width: 250px;
  max-height: 250px;
  background: white;
  box-shadow: v.$box-shadow;
  border-radius: 10px;
  z-index: 999;
  @include respond-to('small') {
  left: 1%;
  }
}